<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <ul class="navbar">
    <h1>{{title}}</h1>
    <li>
      <a href="/views/user/{{@index}}">Home</a>
    </li>
    <li>
      <a href="/views/user/{{@show}}">Profile</a>
    </li>
    <li>
      <a href="/views/parks/{{@index}}">Parks</a>
    </li>
  </ul>
  <button class="signUp"><a href="/views/user/{{@new}}">Sign Up</a></button>
  {{{body}}}
</body>

</html>