<h1>Edit {{userProf.name}}</h1>

<form action="/users/{{userProf._id}}?_method=PUT" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" value="{{userProf.name}}" />
  </div>
  <div>
    <label for="description">Image</label>
    <input type="text" name="image" value="{{userProf.image}}" />
  </div>
  <div>
    <label for="favPark">Favorite Park</label>
    <input type="text" name="favPark" value="{{userProf.favPark}}" />
  </div>
  <button type="submit">Update</button>
</form>