<div class="userProf">
    {{#each userProfile}}
    <img src="{{image}}" alt="{{name}}">
    <p>Name: {{name}}</p>
    <p>Favorite Park: {{favPark}}</p>
    
        {{#each Dog}}
        <img src="{{image}}" alt="{{name}}">
        <p>Name: {{name}}</p>
        
    
    {{/each}}{{/each}}
</div>