
<div class="userProf">
    {{#each userProfile}}
    <img class="userPic" src="{{image}}" alt="{{name}}">
    <p>Name: {{name}}</p>
    <p>Favorite Park: {{favPark}}</p>

    <div class="userDog">
        <h2>{{name}} 's dog</h2>
        {{#each dog}}
        <img class="dogPic" src="{{image}}" alt="{{name}}">
        <p>Name: {{name}}</p>
        <p>Breed: {{breed}}</p>
        <p>Age: {{age}}</p>
    </div>


    {{/each}} 
    <button><a href="/users/{{_id}}">View Profile</a></button>
    <br>
    {{/each}}
    
</div>