<div class="mainUserPage">
<div class="userProf">
    {{#each userProfile}}
    <br>
    <h3> {{name}}</h3>
    <br>
    <img class="userPic" src="{{image}}" alt="{{name}}">
    <br>
    <p id="userInfo">Favorite Park: {{favPark}}</p>

    <div class="userDog">
        <h2 class="ownerDog">{{name}} 's dog</h2>
        {{#each dog}}
        <img class="dogPic" src="{{image}}" alt="{{name}}">
        <p id="userInfo">Name: {{name}}</p>
        <p id="userInfo">Breed: {{breed}}</p>
        <p id="userInfo">Age: {{age}}</p>
    </div>


    {{/each}} 
    <button class="view btn btn-primary"><a href="/users/{{_id}}">View Profile</a></button>
    <br>
    {{/each}}
    
    
</div>
<br>
</div>