<div class="userBox">
    <h1 class="userShow">{{userProf.name}}</h1>
    <img class="userPicProf" src="{{userProf.image}}" alt="{{userProf.name}}">
    <p>Favorite Park: {{userProf.favPark}}</p>

    <div class="dogBox">
        <h3>{{dog.name}}</h3>
        <img class="dogShow" src="{{dog.image}}" alt="{{dog.name}}">
        <p>Breed: {{dog.breed}}</p>
        <p>Age: {{dog.age}}</p>
        <p>About {{dog.name}}: {{dog.description}}</p>
    </div>

</div>