<div class="userBox">
    <h1 class="userShow">{{userProf.name}}</h1>
    <img class="userPicProf" src="{{userProf.image}}" alt="{{userProf.name}}">
    <p>Favorite Park: {{userProf.favPark}}</p>

    <div class="dogBox">
        <h3>{{userProf.dog.name}}</h3>
        <img class="dogShow" src="{{userProf.dog.image}}" alt="{{userProf.dog.name}}">
        <p>Breed: {{userProf.dog.breed}}</p>
        <p>Age: {{userProf.dog.age}}</p>
        <p>About {{userProf.dog.name}}: {{userProf.dog.description}}</p>
    </div>

</div>