<center>
    <div class="userBox">

        <div class="userInfo">

            <h1 class="userShow">{{userProf.name}}</h1>
            <img class="userPicProf" src="{{userProf.image}}" alt="{{userProf.name}}">
            <br>
            <br>
            <p>Favorite Park: {{userProf.favPark}}</p>
            <center>
                <a href="/users/{{userProf._id}}/parks">
                    <button class="favPark btn btn-info">
                        Favorite Park
                    </button>
                </a>
                <a href="/users/{{userProf._id}}/edit">
                    <button class="editButton btn btn-warning">
                        Edit User
                    </button>
                </a>
                <div class="addBtn">
                    <a href="/users/{{userProf._id}}/dog/new">
                        <button class="addDog btn btn-success">
                            Add Dog
                        </button>
                    </a>
                </div>
            </center>
        </div>

        {{#each userProf.dog}}
        <div class="dogBox">
            <h3 class="dogName">{{name}}</h3>
            <center>
                <img class="dogShow" src="{{image}}" alt="{{name}}">
            </center>
            <p>Breed: {{breed}}</p>
            <p>Age: {{age}}</p>
            <p>About {{name}}: {{description}}</p>
            <center>
                <div class="dogBtns">
                    <div class="delete">
                        <button class="btn btn-danger">
                            <a href="/users/{{../userProf._id}}/dog/{{_id}}/delete">Delete Dog</a>
                        </button>
                    </div>
                </div>
            </center>
        </div>
        {{/each}}
    </div>
</center>
<center>
    <div class="dinderBtn">

        <div class="match">
            <button class=" btn btn-success">Match</button>
        </div>
        <div class="noMatch">
            <form action="/users/{{userProf._id}}?_method=DELETE" method="POST">
                <button class=" btn btn-danger">No Match</button>
            </form>
        </div>

    </div>
</center>