<div class="parkDisplay">
    {{#each parkProf}}
    <img src="{{image}}" alt="{{parkName}}">
    <h2>{{parkName}}</h2>
    <p>{{streetAddress}}</p>
    <p>{{description}}</p>
    <p><a href="{{website}}">{{parkName}}'s website</a></p>
    {{/each}}
</div>